<!DOCTYPE html>
<html lang="en">
<!--<nav class ="navbar navbar-default navbar-fixed-top">-->
  <!--<div class ="container-fluid navbar-brand row">-->
      <!---->
  <!--</div>-->
<!--</nav>-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>

  <link rel="stylesheet" href="../../style.css"/>
  <script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Profile</title>

</head>
<body>
<nav class="navbar navbar-fixed-top bg-primary">
  <div class="navbar-brand">Profile</div>
</nav>

<div id="profile-top-padding1" class="container-fluid">

  <h5>Username</h5>

  <div class="form-group">
    <input placeholder="username"
           type="text"
           id="username"
           class="form-control"/>
  </div>

  <h5>Email</h5>

  <div class="form-group">
    <input placeholder="email"
           type="email"
           id="email"
           class="form-control"/>
  </div>

  <h5>First Name</h5>

  <div class="form-group">
    <input placeholder="first name"
           type="firstname"
           id="firstname"
           class="form-control"/>
  </div>

  <h5>Last Name</h5>

  <div class="form-group">
    <input placeholder="last name"
           type="firstname"
           id="lastname"
           class="form-control"/>
  </div>

  <a href="register.html" class="btn btn-primary btn-block">
    Websites
  </a>
  <a href="register.html" class="btn btn-danger btn-block">
    Logout
  </a>
</div>

</body>
</html>
