<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
  <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
<!---->
  <!--<meta charset="UTF-8">-->
<!---->
  <!--<title>Widget List</title>-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.css"/>-->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
<!---->
<!--</head>-->


<nav class="navbar navbar-default navbar-fixed-top">
  <div class= "navbar-default container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink] = "['/user', userId, 'website', websiteId, 'page']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a class="navbar-brand" href="#">
        <b>Widgets</b>
      </a>
    </p>

    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>
  </div>
</nav>


<div class = "container-fluid widgetBody">
  <div class="widget-content" >
    <ul class="widget-ul" *ngFor="let widget of widgets" [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase = "'HEADING'" >
        <div [ngSwitch] = "widget.size">
          <h1 *ngSwitchCase = "1">{{widget.text}}</h1>
          <h2 *ngSwitchCase = "2">{{widget.text}}</h2>
          <h3 *ngSwitchCase = "3">{{widget.text}}</h3>
          <h4 *ngSwitchCase = "4">{{widget.text}}</h4>
          <div class =  jga-toolbar>
            <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" class="navbar-link">
          <span class = "glyphicon glyphicon-cog"></span>
            </a>
          <span class = "glyphicon glyphicon-menu-hamburger"></span>
          </div>
        </div>
      </div>
      <div *ngSwitchCase = "'IMAGE'">
        <!--<img class = "jga-content" src='http://localhost:3100/assets/uploads/16631d47c481a51be1f784ef8d9b2161' [style.width] = "widget.width">-->
        <img class = "jga-content" src={{baseUrl}}/{{widget.url}}' [style.width] = "widget.width">
        <div class =  jga-toolbar>
          <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" class="navbar-link">
          <span class = "glyphicon glyphicon-cog"></span>
          </a>
          <span class = "glyphicon glyphicon-menu-hamburger"></span>
        </div>
      </div>
      <div *ngSwitchCase = "'YOUTUBE'" class = "youtube-widget">
        <iframe [src]="cleanURL('http://www.youtube.com/embed/'+ widget.url.substring(17,28))"
        frameborder="0" height = '315' width = '560'
        allowfullscreen
        [style.width] = "widget.width">
        </iframe>
        <div class =  jga-toolbar>
          <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" class="navbar-link">
          <span class = "glyphicon glyphicon-cog"></span>
          </a>
          <span class = "glyphicon glyphicon-menu-hamburger"></span>
        </div>
      </div>
      <div *ngSwitchCase="'TEXT'">
        <div *ngIf="widget.formatted">
          <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
        </div>

        <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
               placeholder="{{widget.placeholder}}" class="form-control"/>

        <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                  class="form-control">{{widget.text}}
        </textarea>
        <div class =  jga-toolbar>
          <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" class="navbar-link">
            <span class = "glyphicon glyphicon-cog"></span>
          </a>
          <span class = "glyphicon glyphicon-menu-hamburger"></span>
        </div>
      </div>
      <div *ngSwitchCase="'HTML'">
        <div innerHTML =
        {{widget.text}}></div>
        <div class =  jga-toolbar>
          <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" class="navbar-link">
            <span class = "glyphicon glyphicon-cog"></span>
          </a>
          <span class = "glyphicon glyphicon-menu-hamburger"></span>
        </div>
      </div>


  </ul>
</div>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


<!--</body>-->
<!--</html>-->


<!--<  <h1>Florence</h1>
  <div class="jga-widget ">
    <div class = "jga-toolbar">
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <span class = "glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h3>History of Florence</h3>
    <div class="jga-widget ">
    <div class = "jga-toolbar">
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <span class = "glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <img class = "jga-content" src="https://images.walks.org/italy/florence-duomo-tour/florence-duomo-climb-featured.jpg">
    <div class = "jga-toolbar">
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <span class = "glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h4>  Florence was a centre of medieval European trade and finance and one of the wealthiest cities of that era. It is considered the birthplace of the Renaissance,
      and has been called "the Athens of the Middle Ages". A turbulent political history includes periods of rule by the powerful Medici family and numerous religious and republican revolutions.</h4>
    &lt;!&ndash;<div class="jga-widget ">&ndash;&gt;
    <div class = "jga-toolbar">
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <span class = "glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <h3>The Medici: Godfathers of the Renaissance</h3>&ndash;&gt;-->
    <!--<div class="jga-widget ">&ndash;&gt;
    <div class = "jga-toolbar">
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <span class = "glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/GOAVRcI6mFU">
    </iframe>
    <div class = "jga-toolbar">
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
      <span class = "glyphicon glyphicon-menu-hamburger"></span>
    </div>-->



<!--<li class="widget-li" >-->
<!--        <div class="widget-toolbar">
          <button class="widget-toolbar-btn glyphicon glyphicon-cog"></button>
          <button class="widget-toolbar-btn glyphicon glyphicon-align-justify"></button>
        </div>-->
<!--          <app-widget-header *ngSwitchCase="'HEADING'" [widget]="widget"></app-widget-header>
          <app-widget-image *ngSwitchCase="'IMAGE'" [widget]="widget"></app-widget-image>
          <app-widget-youtube *ngSwitchCase="'YOUTUBE'" [widget]="widget"></app-widget-youtube>
        </li>-->
<!--
  <div *ngSwitchCase = "'HEADING'">
    <app-widget-header></app-widget-header>
  </div>
  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-youtube></app-widget-youtube>

  </div>
  <div *ngSwitchCase="'IMAGE'">
    <app-widget-image></app-widget-image>-->
