

  <!--<cha&lt;!&ndash;&ndash;&gt;rset="UTF-8">-->
  <!--<name="viewport" content="initial-scale=1.25, user-scalable=no">-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>&ndash;&gt;-->
  <!--<link rel="stylesheet" href="../../style.css"/>&ndash;&gt;-->
  <!--<script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>&ndash;&gt;-->
  <!--Login-->
<!--<body>-->
<div class="container-fluid dguobody">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>


  <h1>Login</h1>

  <!--<form (ngSubmit) = "login()" #f="ngForm" method="GET" action="/submit/to/some/server/api">-->


  <div class="form-group ">
    <input placeholder="username"
           type="text"
           name="username"
           id="username"
           class="form-control"
           [(ngModel)]="username">
           <!--[(ngModel)]="username"/>-->
    <!--<span class="help-block" *ngIf="! username.valid && username.touched">-->
      <!--Please enter username-->
    <!--</span>-->
  </div>

  <div class="form-group">
    <input placeholder="password"
           type="password"
           name="username"
           id="password"
           class="form-control"
           [(ngModel)]="password"
           required/>
  </div>

  <!--<button [routerLink] = "['/user/:uid']" -->
    <button (click)="login()"
            class="btn btn-primary btn-block">Login
  </button>
  <!--<a href="register.html" class="btn btn-success btn-block">-->
  <button [routerLink] = "['/register']"  class="btn btn-success btn-block">
    Register
  </button>

  <button href="facebook/login" class="btn btn-primary btn-block">
    <span class="fa fa-facebook"></span>
    Facebook
  </button>

  <!--</form>-->
</div>

<!--</body>-->
