
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<nav class ="navbar navbar-default navbar-fixed-top">-->
<!--<div class ="container-fluid navbar-brand row">-->
<!---->
<!--</div>-->
<!--</nav>-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>-->
<!---->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
  <!--<script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <!--<title>New Page</title>-->
<!---->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink] = "['/user', userId, 'website', websiteId, 'page']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>New Page</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click) = "createPage(pageName,pageDescription)" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>



<div class="container dguobody">


  <div class="form-group">
    <form>
      <label for="pageName-new">Name</label>
      <input [(ngModel)] = "pageName"
            name = "pageName"
        placeholder="Page Name"
             type="text"
             id="pageName-new"
             class="form-control"/>
    </form>
  </div>


  <div class="form-group">
    <form>
      <label for="pageTitle-new">Title</label>
      <input [(ngModel)] = "pageDescription"
             name = "pageDescription"
        placeholder="Page Title"
             type="text"
             id="pageTitle-new"
             class="form-control"/>
    </form>
  </div>


</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user', userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


<!--</body>-->
<!--</html>-->
