
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<nav class ="navbar navbar-default navbar-fixed-top">-->
<!--<div class ="container-fluid navbar-brand row">-->
<!---->
<!--</div>-->
<!--</nav>-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>-->
<!---->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
  <!--<script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <!--<title>Edit Page</title>-->
<!---->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid col-sm-3 hidden-xs navbar-default">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Pages</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user',userId]" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>

  <div class="navbar-default container-fluid col-sm-9">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Edit Page</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user',userId]" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>



<div class="container dguobody">


  <div class="container-fluid">
    <div class = "row">
      <div class = "col-sm-3 hidden-xs dguobody">
        <app-page-list></app-page-list>
      </div>

  <div class = 'col-sm-9 dguobody'>
  <div class="form-group">
    <form>
      <label for="pageName-edit">Name</label>
      <input [(ngModel)] = "pageName"
             name = "pageName"
        placeholder="Blog Post"
             type="text"
             id="pageName-edit"
             class="form-control"/>
    </form>
  </div>


  <div class="form-group">
    <form>
      <label for="pageDescription-edit">Description</label>
      <input [(ngModel)] = "pageDescription"
             name = "pageDescription"
        placeholder="Page Description"
             type="text"
             id="pageDescription-edit"
             class="form-control"/>
    </form>
  </div>
  <a [routerLink] = "['/user/:uid/website/:wid/page']" class="btn btn-danger btn-block">
    Delete
  </a>

</div>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user/:uid']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


    <!-- &lt;!&ndash;     <ul class="list-group">
        <li class="list-group-item borderless">
          Address Book App
          <a [routerLink] = "['/user/:uid/website/:wid']">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
        <li class="list-group-item borderless">
          Blogger
          <a [routerLink] = "['/user/:uid/website/:wid']">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
        <li class="list-group-item borderless">
          Blogging App
          <a [routerLink] = "['/user/:uid/website/:wid']">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
        <li class="list-group-item borderless">
          Script Testing App
          <a [routerLink] = "['/user/:uid/website/:wid']">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
      </ul>-->

<!--</body>-->
<!--</html>-->
