<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>-->
<!---->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
  <!--<script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <!--<title>Widget Heading</title>-->
<!---->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink] = "['/user',userId, 'website']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <!--<a href="widget-list.html" class="navbar-link">-->
      <a [routerLink] = "['/user',userId, 'website', websiteId, 'widget', widgetId]">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>



<div class="container dguobody">


  <div class="form-group">
    <form>
      <label for="widgetName">Name</label>
      <input [(ngModel)] = "widgetName"
        name = "widgetName"
        placeholder="Name"
             type="text"
             id="widgetName"
             class="form-control"/>
    </form>
  </div>


  <div class="form-group">
    <form>
      <label for="widgetText">Text</label>
      <input [(ngModel)] = "widgetText"
             name = "widgetText"
        placeholder="History of Florence"
             type="text"
             id="widgetText"
             class="form-control"/>
    </form>
  </div>

  <div class="form-group">
    <form>
      <label for="widgetSize">Size</label>
      <input [(ngModel)] = "widgetSize"
             name = "widgetSize"
             placeholder=3
             type="number"
             id="widgetSize"
             class="form-control"/>
    </form>
  </div>


  <a [routerLink] = "['/user',userId,'website',websiteId]" class="btn btn-danger btn-block">
    Delete
  </a>
</div>

<!--</body>-->
<!--</html>-->
