<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>-->
<!---->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
  <!--<script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <!--<title>Widget Youtube</title>-->
<!---->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"  class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click) ="updateWidget(widgetSize, widgetUrl)" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>



<div class="container dguobody">


  <div class="form-group">
    <form>
      <label for="widgetName-youtube">Name</label>
      <input [(ngModel)] = "widgetType"
             name = "widgetType"
             placeholder="Name"
             type="text"
             id="widgetName-youtube"
             class="form-control"/>
    </form>
  </div>


  <div class="form-group">
    <form>
      <label for="widgetText-youtube">Text</label>
      <input [(ngModel)] = "widgetText"
             name = "widgetText"
        placeholder="History of Florence"
             type="text"
             id="widgetText-youtube"
             class="form-control"/>
    </form>
  </div>

  <div class="form-group">
    <form>
      <label for="widgetURL-youtube">URL</label>
      <input [(ngModel)] = "widgetUrl"
             name = "widgetUrl"
        placeholder="https://www.youtube.com/watching/GOAVRcI6mFU"
             type="url"
             id="widgetURL-youtube"
             class="form-control"/>
    </form>
  </div>

  <div class="form-group">
    <form>
      <label for="widgetSize-youtube">Width</label>
      <input [(ngModel)] = "widgetWidth"
             name = "widgetWidth"
        placeholder=300
             type="text"
             id="widgetSize-youtube"
             class="form-control"/>
    </form>
  </div>



  <a (click) = "deleteWidget()" class="btn btn-danger btn-block">
    Delete
  </a>
</div>

<!--</body>-->
<!--</html>-->
