<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
  <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
<!---->
  <!--<meta charset="UTF-8">-->
<!---->
  <!--<title>Choose Widget</title>-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.css"/>-->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
<!---->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class= "navbar-default container-fluid">


    <p class="navbar-text pull-left">
      <a [routerLink] = "['/user/:uid/website/:wid/page:pid/widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <p class="navbar-header pull-left">
      <a class="navbar-brand" href="#">
        <b>Choose Widget</b>
      </a>
    </p>
  </div>
</nav>


<!--navs and cog marks-->

<ul class="list-group">
  <div class="container-fluid dguobody">
    <li class="list-group-item borderless toolbarColor1">
      Header
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      <div class ="row">
        <div class = "col-xs-3">
        </div>
      </div>
      Label
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      HTML
      <a [routerLink] = "['/user/:uid/website/:wid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Text Input
      <a [routerLink] = "['/user/:uid/website/:wid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Link
      <a [routerLink] = "['/user/:uid/website/:wid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Button
      <a [routerLink] = "['/user/:uid/website/:wid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Image
      <a [routerLink] = "['/user/:uid/website/:wid/page/:pid/widget/:wgid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Youtube
      <a [routerLink] = "['/user/:uid/website/wid/page/:pid/widget/:wgid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Data Table
      <a [routerLink] = "['/user/:uid/website/:wid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless toolbarColor1">
      Repeater
      <a [routerLink] = "['/user/:uid/website/:wid']">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </div>
</ul>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink] = "['/user/:uid']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>


<!--</body>-->
<!--</html>-->

