<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!---->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport" content="initial-scale=1.25, user-scalable=no">-->
  <!--<link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>-->
<!---->
  <!--<link rel="stylesheet" href="../../style.css"/>-->
  <!--<script src = "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <!--<title>Widget Image</title>-->
<!---->
<!--</head>-->
<!--<body>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, widget]" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click)="updateWidget(widgetWidth, widgetUrl)" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>



<div class="container dguobody">


  <div class="form-group">
    <form>
      <label for="widgetName-image">Name</label>
      <input [(ngModel)] = "widgetType"
             name = "widgetType"
             placeholder="Name"
             type="text"
             id="widgetName-image"
             class="form-control"/>
    </form>
  </div>


  <div class="form-group">
    <form>
      <label for="widgetText-image">Text</label>
      <input [(ngModel)] = "widgetText"
        name = "widgetText"
        placeholder="History of Florence"
             type="text"
             id="widgetText-image"
             class="form-control"/>
    </form>
  </div>

  <div class="form-group">
    <form>
      <label for="widgetURL-image">URL</label>
      <input [(ngModel)] = "widgetUrl"
             name = "widgetUrl"
        placeholder="https://www.youtube.com/watching/GOAVRcI6mFU"
             type="url"
             id="widgetURL-image"
             class="form-control"/>
    </form>
  </div>

  <div class="form-group">
    <form>
      <label for="widgetSize-image">Width</label>
      <input [(ngModel)] = "widgetWidth"
             name = "widgetWidth"
        placeholder=300
             type="text"
             id="widgetSize-image"
             class="form-control"/>
    </form>
  </div>
<!--
  <div class="form-group">
    <form>
      <label for="widgetInputFile">File input</label>
      <input type="file"
             id="widgetInputFile"
             class="form-control">
    </form>
  </div>-->

  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <label for="myFile">File input</label>
    <input  name="myFile"
            type="file"
            id = "myFile"
            class="form-control"/>
    <input  name="widgetId"
            value="{{widgetId}}"
            style="display: none"/>
    <input  name="websiteId"
            value="{{websiteId}}"
            style="display: none"/>
    <input  name="pageId"
            value="{{pageId}}"
            style="display: none"/>
    <input  name="userId"
            value="{{userId}}"
            style="display: none"/>

    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br/>
  </form>
  <a (click)="deleteWidget()" class="btn btn-danger btn-block">
  Delete
</a>
  <a [routerLink] = "['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widgetId, 'flickr']" class="btn btn-success btn-block">
    Search Flickr
  </a>
</div>

<!--</body>-->
<!--</html>-->
